html, body {
    width: auto;
    height: 100%;
    box-sizing: border-box;
}
h1 {
    width: auto;
    padding: 1%;
    color: black;
    text-align: center;
    overflow: hidden;
    letter-spacing: 3.5px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.subpoint {
    width: auto;
    color: black;
    text-align: center;
    overflow: hidden;
    font-size: 200%
}

a:link {
    color: grey;
}

a:hover {
    color: black;
}


body {
    margin: 0;
    background-color: rgb(219,204,220);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2.5px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(219,204,220);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0.7%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 165%;
    text-decoration: none;
}

.navbar a:hover {
    stroke(120, 102, 124);
    background: rgb(120, 102, 124);
    color: black;
}

p {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2.0px;
    width: auto;
    color: black;
    font-size: 125%;
    text-align: center;
}
